<footer>
    <div id="creator">
        <a href="//www.opendatacity.de/" rel="follow" class="odc">OpenDataCity</a>
    </div>
    <div id="social">
        <div class="social">
            <a href="/governments/imprint">Impressum</a>
            <a href="/governments/dataprotection">Datenschutz</a>
        </div>
        <!--<div class="social">
            <a href="https://twitter.com/lobbyplag">Follow us on Twitter</a>
        </div>
        <div class="social">
            Share this on:
            <a href="https://twitter.com/intent/tweet?url=http%3A%2F%2Fwww.lobbyplag.eu%2F&amp;text=EU+General+Data+Protection+Regulation+full+of+copypasted+lobby+proposals+%23lobbyplag+%23gdpr&amp;via=lobbyplag&amp;related=lobbyplag" id="share-twitter" class="share-pop">Twitter</a>
            <a href="http://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.lobbyplag.eu%2F%3F1&amp;t=EU+General+Data+Protection+Regulation+full+of+copypasted+lobby+proposals" id="share-facebook" class="share-pop">Facebook</a>
            <a href="https://plus.google.com/share?url=http%3A%2F%2Fwww.lobbyplag.eu%2F" id="share-google" class="share-pop">Google+</a>
            <a href="https://alpha.app.net/intent/post?text=EU+General+Data+Protection+Regulation+full+of+copypasted+lobby+proposals+%23lobbyplag+%23gdpr+http%3A%2F%2Fwww.lobbyplag.eu%2F" id="share-adn" class="share-pop">App.net</a>
        </div>-->
    </div>
</footer>
