<nav id="subnav_map_search" class="lp-subnav navbar navbar-inverse clearfix">
	<div class="nav-search pull-right clearfix">
		<form class="form-search" action="/map/meps/" method="get">
			<input name="q" type="text" placeholder="Search MEP by Name"
				   data-source='{{data.typeahead}}'
				   autocomplete="off"
				   data-items="8" data-provide="typeahead" class="span3">
			<button type="submit" class="btn">Search</button>
		</form>
	</div>
</nav>
<div id="main-container">
	<div id="main" role="main">

		{{^mep}}{{^meps}}
			<div class="row">
				<div class="span12">
					<section class="info">
						Here you can search for a specific MEP and check out what they have proposed in the committee.
						In addition you also find the contact details and further information about every MEP.
						Just type in the name of a MEP in the search box.
					</section>
				</div>
				{{#meps_list}}
					<a href="/map/meps/{{id}}">{{name}}</a>
					<img title="{{country_obj.name}}" alt="{{country_obj.name}}" src="/assets/img/flags/20x15/{{country_obj.iso}}.png"/>
					<span class="label label-info label-group-{{group_obj.id}}" title="{{group_obj.long}} - {{constituency_obj.long}}">{{group_obj.short}}</span>
				{{/meps_list}}
			</div>
		{{/meps}}{{/mep}}

		{{#searchterm}}<h2>Nothing found for: {{searchterm}}</h2>{{/searchterm}}

		{{#meps.length}}
			<h2>Found {{meps.length}}</h2>
			<table class="table search_result_table">
				<tr>
					<th>Name</th>
					<th>Party</th>
					<th>Rating</th>
				</tr>
				{{#meps}}
					<tr>
						<td class="search_result_colname">
							<a href="/map/meps/{{id}}">{{name}}</a><br/>
						</td>
						<td>
							<a href="/map/groups/{{group_obj.id}}"><span class="label label-info label-group-{{group_obj.id}}" title="{{group_obj.long}} - {{constituency_obj.long}}">{{group_obj.short}}</span></a> {{group_obj.long}}<br/>
							<a href="/map/countries/{{country_obj.id}}"><img title="{{country_obj.name}}" alt="{{country_obj.name}}" src="/assets/img/flags/20x15/{{country_obj.iso}}.png"/></a> {{constituency_obj.long}}
						</td>
						<td>
							{{#votes}}
								<span class="text_stronger">stronger: {{pro}}</span><br/>
								<span class="text_weaker">weaker: {{contra}}</span><br/>
								<span class="text_neutral">neutral: {{neutral}}</span>
							{{/votes}}
						</td>
					</tr>
				{{/meps}}
			</table>
		{{/meps.length}}

		{{#mep}}
			<div class="row">
				<div class="span6 info_box">
					<div class="mep_info_box">
						<div class="mep_info_image_box">
							<div class="mep_info_box_image">
								<img src="{{#urls}}{{&photo}}{{/urls}}"/>
							</div>
							<img src="/assets/img/flags/20x15/{{country_obj.iso}}.png" alt="{{country_obj.name}}"
								 title="{{country_obj.name}}"/>
							<span class="label label-info label-group-{{group_obj.id}}"
								  title="{{group_obj.long}}">{{group_obj.short}}</span>
						</div>
						<div class="mep_info_box_data">
							<h4>{{name}}</h4>

							<div class="mep_info_text">
								<table>
									<tr>
										<td>Country:</td>
										<td>{{country_obj.name}}</td>
									</tr>
									<tr>
										<td>Group:</td>
										<td>{{group_obj.long}} ({{group_obj.short}})</td>
									</tr>
									<tr>
										<td>Party:</td>
										<td>{{constituency_obj.long}} ({{constituency_obj.short}})</td>
									</tr>
								</table>
								<br/>
								{{#committees}}
									{{role}} of <span class="committee_name">{{name}}</span><br/>
								{{/committees}}
							</div>
						</div>
					</div>
					{{#urls}}
						<div class="mep_info_box_links pagination">
							<ul>
								{{#homepage}}
									<li><a href="{{homepage}}" title="{{homepage}}">Homepage</a></li>{{/homepage}}
								{{#europarl}}
									<li><a href="{{europarl}}" title="{{europarl}}">EU Parliament</a></li>{{/europarl}}
								{{#facebook}}
									<li><a href="{{facebook}}" title="{{facebook}}">Facebook</a></li>{{/facebook}}
								{{#twitter}}
									<li><a href="{{twitter}}" title="{{twitter}}">Twitter</a></li>{{/twitter}}
							</ul>
						</div>
					{{/urls}}
				</div>
				<div class="span6 info_box">
					<h4>Overview {{name}}</h4>

					<div class="overview overview_height_large">
						<div class="overview_text_box">
							{{#votes}}{{>partial_amend_overview_text}}{{/votes}}
						</div>
						<div class="overview_chart ">
							<div class="bigpie">
								{{#votes}}{{>partial_pie}}{{/votes}}
							</div>
						</div>
						<div class="btn_email">
							<a class="btn btn-primary btn-small" href="mailto:{{email}}">Send an email</a>
							{{^disable_email}}
								<a class="btn btn-primary btn-small" href="javascript:sendEmails();">Send an email</a>
							{{/disable_email}}
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="span12">
					{{#classified.length}}
						<div class="accordion amend" id="accordion_amends">
							<h3>Amendments by {{name}}</h3>
							{{#classified}}
								<div class="accordion-group border_{{vote}}">
									<div class="accordion-heading background_{{vote}}">
										<a class="accordion-toggle" data-toggle="collapse"
										   href="#collapse{{amend.number}}"><i class="icon-chevron-right"></i>
											#{{amend.number}} - {{amend.directive}}
										</a>
									</div>
									<div id="collapse{{amend.number}}" class="accordion-body collapse">
										<div class="accordion-inner">
											<div class="diff">{{&amend.diff}}</div>
											<div class="tag">
												&nbsp
												{{#tagenabled}}
													{{#tag}}
														<span>Tag: #{{tag}}</span>
														<span><a href="#" class="btn btn-small">More Info</a></span>
													{{/tag}}
												{{/tagenabled}}
												{{#comment}}<span>Comment: {{comment}}</span>{{/comment}}
												{{#enableReport}}
													<a href="javascript:reportError('{{vote}}','{{amend.number}}');"
													   class="pull-right btn btn-small alert-error"
													   title="Report this Rating">Report Error</a> -
												{{/enableReport}}

											</div>
										</div>
									</div>
								</div>
							{{/classified}}
						</div>
					{{/classified.length}}
				</div>
			</div>
		{{/mep}}
	</div>
</div>
