<div id="main-container">
    <div id="main" role="main">

        <div id="sidebarLeft" class="span3"></div>
        <div class="span7 walloftext">
            <style type="text/css">
                p {
                    text-align: justify;
                }
            </style>

            <h2>About LobbyPlag</h2>
            <p>The objective of LobbyPlag.eu is to make complex and opaque democratic procedures transparent.</p>
            <p>LobbyPlag.eu was started as a project to track “copy and paste” data protection legislation in the
                European Parliament. A number of Parliamentarians have simply copied changes to data protection laws
                from Amazon, eBay, the American Chamber of Commerce, but also from Privacy NGOs – consequently called
                “lobby and paste”.</p>
            <p>In 2013 LobbyPlag.eu has then tracked the publically available data of 3,100 amendments by Members of the
                European Parliament, allowing the average people and journalists to easily find out what their
                representatives are proposing.</p>
            <p>Now LobbyPlag.eu is back, analyzing the actions by the 32 national Governments (EU, EEA and Switzerland)
                that are involved in the decision process through the European Council. As the Council debates are
                generally secret, the last version of LobbyPlag.eu relies on about 11.000 pages of mainly classified EU
                documents and about 300 paged of classifies German “cables”.</p>


            <h2>About Us</h2>
            LobbyPlag.eu is a cooperation between<br/> <br/>
            <div class="row">
                <div class="span3 walloftext">
                    <a href="http://www.opendatacity.de/">OpenDataCity</a> Datenfreunde GmbH<br/>
                    Börnicker Chaussee 2 <br/>
                    16321 Bernau bei Berlin <br/>
                    <a href="mailto:info%40datenfreunde.com">info@opendatacity.de</a>
                </div>
                <div class="span1 walloftext">and</div>
                <div class="span3 walloftext">
                    <a href="http://europe-v-facebook.org">europe-v-facebook.org</a><br/>
                    ZVR 351391770<br/>
                    Wien, Österreich<br/>
                    <a href="mailto:info@europe-v-facebook.org">info@europe-v-facebook.org</a>
                </div>
            </div>
            <br/>
            <b>Privacy:</b><br/>
            LobbyPlag.eu does not process any personal data of its visitors.<br/>

            The discussion panel we use is provided by Disqus.com. If you use this
            function you are subject to the <a
                href="http://help.disqus.com/customer/portal/articles/466259-privacy-policy">privacy policy of
            Disqus.com</a>
            <br/><br/><br/><br/>

        </div>
    </div>
</div>
