  <script src="assets/js/chart/raphael.js"></script>
  <script src="assets/js/chart/g.pie.js"></script> 
  <script src="assets/js/chart/g.raphael.js"></script> 
  <script src="assets/js/chart/g.bar.js"></script>
  <script src="/governments/assets/js/chart/jquery.lpchart.js"></script> 

<div id="main-container">
	<div id="main" role="main">
	                        <style type="text/css">
							.pro_country { background: #2daa2d; }	
							.contra_country { background: #ff6666; }
															  
							 .copyright { font-size: 10px;}
							 .info_box {text-align: left; margin-bottom: 15px;}
							 .box_top_left {margin-top: 4px;}
							 .box_top_right {margin-top: 11px;}
							 .box_to_right {margin-left: 25px;}
							 .box_1 {width:170px;}
							 .box_2 {width:180px;} 
							 .box_3 {width:120px; margin-left: 34px; margin-top: 100px;}
							 .smallpie { 
								  min-width: 70px;
								  min-height: 70px;
								  max-width: 70px;
								  max-height: 70px;
								  width: 70px;
								  height: 70px;
							}
							
							.bug {text-align:right; padding-top:40px; padding-bottom:60px;}
							.bug_link,.bug_link:hover {  
									padding-left:17px; 
									background: transparent url(../assets/img/glyphicons-halflings.png) no-repeat; 
									display:inline-block; 
									width:0px; 
									height:15px; 
									background-position:-335px -95px; 
									white-space: nowrap;								
								}	

						</style>	
	
                    {{#countries}}
					<a name="{{c2}}"></a>
					<div class="row">
					<div id="sidebarLeft" class="span3"></div>
                        <div class="span7 walloftext">	
                            <div id="country_info">
                                <div class="row info_box">
                                    <div class="span3 box_1 box_left box_top_left">
                                        <p></p>
                                        <h2 class="western">{{name}}</h2>
                                        <p></p>
                                        <p>
                                            <img width="153" border="4" alt="{{name}}" src="assets/img/heads/{{c2}}_regierung.png">
                                            <br>
                                            <span class="copyright">&copy; {{credit}}</span>
                                        </p>
                                    </div>
                                    <div class="span3 box_2 box_top_right box_to_right">
                                        <img width="62" height="41" border="4" alt="" src="assets/img/flags/80x60/{{lc2}}.png">
                                        <img width="62" height="41" border="4" alt="" src="assets/img/icons_1/{{c2}}_k_plakette.png">
                                        <br>
                                        <br>
                                        <p></p>
                                        <h4>{{headname}}</h4>
                                        <p></p>
                                        <p>
                                            <br>
                                            {{branch}}
                                        </p>
										
									<BR />
									<div class="mep_info_box_links pagination">
										<ul>
										<li>
										  <a style="padding: 4px 8px;" target="_blank" href="{{url}}">
												   <img width="20" border="4" alt="HOMEPAGE" src="assets/img/home.png">
											</a>
										</li>
										<li>
										   <a style="padding: 4px 8px;" href="mailto:{{contact}}">
												   <img width="20" border="4" alt="EMAIL" src="assets/img/email.png">
											</a>
										</li>
										{{#facebook}}
										<li>
										  <a style="padding: 4px 8px;" target="_blank" href="{{facebook}}">
											  <img width="20" border="4" alt="FACEBOOK" src="assets/img/facebook.jpg">
											</a>                                   
										</li>
										{{/facebook}}
											{{#twitter}}
										<li>
										  <a style="padding: 4px 8px;" target="_blank" href="{{twitter}}">
											<img width="20" border="4" alt="TWITTER" src="assets/img/twitter.jpg">                            
											</a>                                   
										</li>
											{{/twitter}}
										</ul>
									</div>
																			
										
                                   </div>
                                    <div class="span2 box_3">	
									
										<div class="smallpie">
											<div class="lobbyplag pie" title="Amendments pro privacy: {{ changes.m.length }}, against privacy: {{ changes.w.length }}" data-lobbyplag="{&quot;pro&quot;: {{ changes.m.length }}, &quot;contra&quot;: {{ changes.w.length }} }"></div>
										</div>
										&nbsp;&nbsp;{{changes.m.length}} pro privacy <br />		
										&nbsp;&nbsp;{{changes.w.length}} against 	
						
                                  </div>
                               </div>
                            </div>
                       </div>		
                    </div>                  
                    {{/countries}}
					<div class="row">
						<div id="sidebarLeft" class="span3"></div>
							<div class="span6 bug">	
								<a class="bug_link" target="_blank" href="mailto:error@lobbyplag.eu?Subject=Report%20error">Report error</a>      
							</div>		
						</div>  					
                    </div>  					
 </div>
</div>
