<script>
$(document).ready(function (){
	$(".noreference").hide();
});
</script>
<div id="main-container">
<div id="main" role="main">
	<div class="row">
	<div id="sidebarLeft" class="span2"></div>

		<!--a href="#" class="btn btn-small" onClick="$('.noreference').show()">Show all</a-->
		
			<div class="span9 walloftext">
                        <style type="text/css">
							.filesize { color:#bdbdbd; }  
							p {  text-align: justify; } 
						</style>		
					
			<h2>Leaked Documents</h2>

<p>Below you can find some of the German <strong>classified diplomatic documents</strong> and more than 11.000 pages of <strong>classified Council documents</strong>. Some of the Council documents were previously declassified (marked "PUBLIC" on the first page).</p>
<p>To <strong>search all Council documents</strong> easily, you can use this complete and indexed 
	<a href="./assets/pdf_all/CD-all.pdf" target="_blank">PDF of all council documents (60 MB)</a>. 
When searching for specific counties, you best use the two-letter code (e.g. DE, FR, UK, IT, ES, NO, CH, AT) and the English country names. Mind that in this case the European Commission, the EU/EEA countries and Switzerland are members of the relevant working group.</p>
<p>Member states that held the <strong>rotating presidency</strong> (2012: Denmark and Cyprus; 2013: Ireland and Lithuania; 2014: Greece and Italy and 2015: Latvia) are referred to as the “presidency” depending on the date of the document. Documents of the presidency or the secretariat are usually compiling the opinions of all member states.</p>

<br />
</div>
</div>
<div class="row">
 <div class="span12">
	
			<table class="table table-condensed table-striped table-hover">
			<tbody>
			{{#documents}}
				<tr>
				<td style="max-width: 95px; min-width: 95px; overflow: hidden"><b>{{docid}}</b></td>
				<td>{{subject}} {{#author}} <br/><i> Author: {{ author }} {{/author}}
					    {{#stamp}} <br/><i> Date: {{ stamp }} </i>{{/stamp}}
				</td>
				<td><span class="filesize" style="white-space: nowrap">{{pages}} Pages<span></td>				
				<td><a href="/{{path}}">Download</a></td>
				<td><a href="/governments/document/{{urlname}}">Details</a></td>
			</tr>
			{{/documents}} 
			</tbody>
			</table>
			</div>
		</div>

	</div>
</div>
