{{#document}}
	<div id="main-container">
		<div id="main" role="main">
			<div class="row">
				<div class="span3"></div>
				<div class="span7">
				         
						 
						 <style type="text/css">
						 /*
                        .maxremark { background: #fff }	
                        .wert-w { background: #fcbebe; }		
                        .wert-m { background: #d5f2d5; }		
                        .wert-n { background: #e1e1e1; } 
                        .worse { background: #cc6666; color:#ffffff; } 

                        .nation,.nation:hover { text-decoration:none; font-weight:bold;}	
                        .pro,.pro:hover { color: #009900; }	
                        .contra,.contra:hover { color: #990000; }	
                        .topic,.topic:hover { text-decoration:none; color:#000000; cursor:pointer; padding-left:17px; background: transparent url(glyphicons-halflings.png) no-repeat; display:inline-block; width:0px; height:15px; background-position:-335px -95px; }	

                        .line { margin: 3px;}	

                        .copyright { font-size: 10px;}	
                        .test { background: #fcbebe; }	


                 */
				 
                 .nation,.nation:hover { text-decoration:none; font-weight:bold;}
                 .pro,.pro:hover { color: #009900; }
                 .contra,.contra:hover { color: #990000; }
                 .topic,.topic:hover { text-decoration:none; color:#000000; cursor:pointer; padding-left:17px; background: transparent url(../assets/img/glyphicons-halflings.png) no-repeat; display:inline-block; width:0px; height:15px; background-position:-335px -95px; }
                 .line { margin: 3px;}
                 .copyright { font-size: 10px;}
				
			
                 .info_box {text-align: left; margin-bottom: 15px;}
				 .info_text {text-align: left; margin-top: 20px;}
                 .box_top_left {margin-top: 4px;}
                 .box_top_right {margin-top: 11px; margin-bottom: 11px; }
				 .box_top {margin-top: 17px; margin-bottom: 11px; }				
				
				 .box_to_right {margin-left: 51px;} 
   				 .filesize { color:#bdbdbd; }
				 .doc_img {	border: 1px solid #ccc; margin-left:10px; }
				 .back { float: right; }
				 
				 .doc_box {list-style-type:none; width: 240px;}
				 .doc_box ul  {list-style-type:none; }
				 .doc_box li {padding-bottom:12px; margin-left: -27px;}

                    </style>	
			
				
					<div id="document_info">
                        <div class="row info_box">
                            <div class="span3 box_left box_top_right">
								<a href="/{{path}}">
									<img class="doc_img" src="/{{path}}.png">
								</a>
                            </div>							
                            <div class="span3 box_top_right box_to_right">

								<h1 style="font-size: 140%">{{ subject }}</h1>
								<h5>Document <br /> No. {{docid}} </h5>
								<br />				
								{{#author}}<p><i>Author: {{ author }}</i></p>{{/author}}
								{{#stamp}}<p><i>Date: {{ stamp }}</i></p>{{/stamp}}
									<a href="/{{path}}">Download</a>
								<br />					
								<span class="filesize info">
								{{pages}} pages, {{filesize}} 
									
								{{#creationdate}}
									, PDF file created {{creationdate}} 
								{{/creationdate}} 
								
								{{#moddate}}
									, PDF file last modified {{moddate}} 
								{{/moddate}}
									</span>	
									
						
								
									
								<p class="info info_text">
										{{description}}
								</p>
                          </div>
                         </div>
                    </div>

						
					<div id="document_info">
                        <div class="row info_box">
                            <div class="span7 box_top">
 	
						{{#mentions.length}}
							<b>Referenced {{mentions.length}} times in remarks</b><br /><br />
							{{#mentions}}
							{{id}},
							{{/mentions}}
						{{/mentions.length}}

                            </div>
                         </div>
                    </div>
				
					<div id="document_info">
                        <div class="row info_box">
                            <div class="span3 doc_box box_left box_top">
			
						{{#countries.m.length}}
							<b class="pro">Used {{countries.m.length}} times for more privacy by</b>
						{{/countries.m.length}}
						{{^countries.m.length}}
							<b class="pro">This document was not used for more privacy. </b>
						{{/countries.m.length}}
					
						{{#countries.m.length}}
							<ul class="info">
							{{#countries.m}}
							<li>						        
								<img src="../assets/img/icons/{{country}}_g_plakette.png">
						        {{name}} {{#page}} p. {{page}} {{/page}} <br/> <a class="btn btn-mini" href="/{{path}}#page={{page}}">Open Document</a>  <a class="btn btn-mini" href="/governments/gdpr?remark={{rid}}">Open Proposal</a>
							</li>
							{{/countries.m}}
							</ul>
						{{/countries.m.length}}
	
                            </div>
                            <div class="span3 doc_box box_top box_to_right">
							
						{{#countries.w.length}}
							<b class="contra">Used {{countries.w.length}} times for less privacy by</b>
						{{/countries.w.length}}
						{{^countries.w.length}}
							<b class="contra">This document was not used for less privacy. </b>
						{{/countries.w.length}}
					
					{{#countries.w.length}}
						<ul class="info">
						{{#countries.w}}
						<li>						        
							<img src="../assets/img/icons/{{country}}_r_plakette.png">
						        {{name}} {{#page}} p. {{page}} {{/page}} <br/> <a  class="btn btn-mini" href="/{{path}}#page={{page}}">Open Document</a>  <a class="btn btn-mini"  href="/governments/gdpr?remark={{rid}}">Open Proposal</a>
 						</li>
						{{/countries.w}}
						</ul>
					{{/countries.w.length}}
							
                          </div>
                         </div>
                    </div>
					
					<div class="row back info">
						<a href="../documents">Back to overview</a>						
					</div>
					
				</div>
			</div>
		</div>
	</div>
{{/document}}
