<footer>
    <div id="creator">
        <a href="//www.opendatacity.de/" rel="follow" class="odc">OpenDataCity</a>
    </div>
    <div id="social">
        <a href="/governments/imprint">Impressum</a>
        <a href="/governments/dataprotection">Datenschutz</a>
    </div>
    <!--<div id="social">
        <div class="social">
            <a class='modallink' href='#donategmodal' role='button' data-toggle='modal'><img alt="" border="0" src="/governments/assets/img/donate.gif"></a>
            <a href="https://twitter.com/lobbyplag">Follow us on Twitter</a>
        </div>
        <div class="social">
                Share this on:
            <a href="https://twitter.com/intent/tweet?url=http%3A%2F%2Fwww.lobbyplag.eu%2F&amp;text=See+how+Germany,+UK+and+other+European+Governments+weaken+privacy+rules&amp;via=lobbyplag&amp;related=lobbyplag" id="share-twitter" class="share-pop">Twitter</a>
            <a href="http://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.lobbyplag.eu%2F%3F1&amp;t=See+how+Germany,+UK+and+other+European+Governments+weaken+privacy+rules" id="share-facebook" class="share-pop">Facebook</a>
            <a href="https://plus.google.com/share?url=http%3A%2F%2Fwww.lobbyplag.eu%2F" id="share-google" class="share-pop">Google+</a>
            <a href="https://alpha.app.net/intent/post?text=See+how+Germany,+UK+and+other+European+Governments+weaken+privacy+rules" id="share-adn" class="share-pop">App.net</a>
        </div>
    </div>-->
</footer>

<style type="text/css">
    .donate {
        padding: 30px;
    }
</style>

<!-- modal -->
<div class="modal fade" id="donategmodal" role="dialog" style="display:none">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;&nbsp;&nbsp;&nbsp;
            </button>
            <div class="donate">

                <p><h4>Donation Details:</h4><br>

                LobbyPlag.eu is a non-profit project.<br>
                <br>
                We would welcome a donation via bank transfer...<br>
                <br>
                Recipient: europe-v-facebook.org<br>
                IBAN: AT042011182038280100<br>
                BIC: GIBAATWWXXX<br>
                Reference: "LobbyPlag.eu"</p>
                <br/>
                <br>
                ...or via PayPal:<br>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="2QNZV7LPE7FBW">
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0"
                           name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/de_DE/i/scr/pixel.gif" width="1"
                         height="1">
                </form>
                <br>
                <i>Thank you for your support!</i><br>
            </div>
        </div>
    </div>
</div> 
