<header>
	<h1><a href="/"><span>Lobby</span><strong>Plag</strong></a></h1>
	<nav id="header-nav" class="navbar navbar-inverse">
		<ul class="nav">
			<li{{#active_main}} class="active"{{/active_main}}><a href="/lp">LobbyPlag 1 - Lobby&amp;Paste </a></li>
			<li{{#active_map}} class="active"{{/active_map}}><a href="/map">LobbyPlag 2 - Parliament Ranking</a></li>
		</ul>
	</nav>
</header>
