<h1>Impressum</h1>
<h2>Angaben gemäß § 5 TMG:</h2>
<p>Datenfreunde GmbH</p><p>Büro Hamburg:<br/>Hongkongstr. 1<br/>20457 Hamburg</p><p>Firmensitz:<br/>Börnicker Chaussee 2<br/>16321
    Bernau bei Berlin</p><p>E-Mail: <a href="mailto:info%40datenfreunde.com">office@datenfreunde.com</a><br/>Telefon:
    +49 163 66 66 245</p><p>Handelsregister Frankfurt (Oder): HRB 15990 FF<br/>Umsatzsteuer-ID: DE289682945</p><p>Die
    Datenfreunde GmbH wird vertreten durch die Geschäftsführer Marco Maas und Carl Ziegner. Verantwortlich für den
    Inhalt dieser Webseite nach § 55 Abs. 2 RStV und/oder §5 TMG ist Marco Maas.</p>
<p><span id="more-23"></span></p><h3>Haftungsausschluss (Disclaimer)</h3><p><strong>Haftung für Inhalte</strong></p><p>
    Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen
    verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder
    gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige
    Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen
    Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer
    konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte
    umgehend entfernen.</p><p><strong>Haftung für Links</strong></p><p>Unser Angebot enthält Links zu externen Webseiten
    Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr
    übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten
    verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft.
    Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der
    verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden
    von Rechtsverletzungen werden wir derartige Links umgehend entfernen.</p><p><strong>Urheberrecht</strong></p><p>Die
    durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Die
    Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes
    bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind
    nur für den privaten, nicht kommerziellen Gebrauch gestattet. Soweit die Inhalte auf dieser Seite nicht vom
    Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche
    gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen
    entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend
    entfernen.</p>