<!DOCTYPE html>
<html lang="en">
<head>
	{{^title}}
		<title>LobbyPlag Governments</title>
	{{/title}}
	{{#title}}
		<title>LobbyPlag Governments ➔ {{title}}</title>
	{{/title}}
	<meta property="og:title" content="LobbyPlag: Governments Rating" />
	<meta property="og:type" content="article" />
	<meta property="og:url" content="http://lobbyplag.eu/governments" />
	<meta property="og:image" content="http://lobbyplag.eu/governments/assets/img/facebook-preview.png" />
	<meta property="og:description" content="We ranked EU governments according to their efforts to influence EU privacy law." />
	<meta charset="utf-8"/>
	<!--[if lt IE 9]>
	<script src="/assets/js/html5shiv.min.js" type="text/javascript"></script><![endif]-->
	<link rel="shortcut icon" href="/assets/img/favicon.ico?v=1"/>
	<link href="/assets/fonts/gentium-basic/gentium-book-basic.css" rel="stylesheet" type="text/css">
	<link href="/assets/fonts/source-code-pro/source-code-pro.css" rel="stylesheet" type="text/css">
	<link href="/assets/fonts/source-sans-pro/source-sans-pro.css" rel="stylesheet" type="text/css">
	<link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="/assets/css/map.css" rel="stylesheet" type="text/css">
	<!-- pour la general purpose -->
	<script src="/assets/js/jquery-1.9.1.min.js" type="text/javascript"></script>
	<script src="/assets/js/jquery.history.min.js" type="text/javascript"></script>
	<script src="/assets/js/bootstrap.min.js" type="text/javascript"></script>
	<!-- pour la graph -->
	<script src="/assets/js/chart/raphael.js" type="text/javascript"></script>
	<script src="/assets/js/chart/g.raphael.js" type="text/javascript"></script>
	<script src="/assets/js/chart/g.pie.js" type="text/javascript"></script>
	<script src="/assets/js/chart/g.bar.js" type="text/javascript"></script>
	<script src="/assets/js/chart/jquery.jvectormap-1.2.2.min.js" type="text/javascript"></script>
	<script src="/assets/js/chart/jquery-jvectormap-europe-merc-en.js" type="text/javascript"></script>
	<script src="/assets/js/chart/jquery.lpchart.js" type="text/javascript"></script>
	<!-- pour us -->
	<script src="/assets/js/map.js" type="text/javascript"></script>
	<!-- local assets path -->
	<script src="assets/js/regulation.js" type="text/javascript"></script>
	<script src="assets/js/mustache.js" type="text/javascript"></script>
</head>
<body>
	{{> header}}
	{{> subnav}}
	{{> main}}
	{{> footer}}

<div id="mailToolModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalMailToolLabel"
	 aria-hidden="true">
	<div class="modal-header">
		<h3 id="myModalMailToolLabel">Schicke eine E-Mail an die Abgeordneten</span>
			<button data-dismiss="modal" class="btn pull-right"><i class="icon-remove"></i></button>
		</h3>
	</div>
	<div id="mailtool_body" class="modal-body">
		<iframe id="mailtool" src=""></iframe>
	</div>
</div>
{{#enableReport}}
<div id="reportErrorModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalJumpLabel"
	 aria-hidden="true">
	<div class="modal-header">
		<h3 id="myModalJumpLabel">Änderung der Bewertung des Änderungsantrages #<span id="current_amend"></span></h3>
	</div>
	<div class="modal-body">
		Die derzeitige Bewertung ist: <span id="current_rating"></span><br/>
		<br/>
		Deine Bewertung wäre:
		<form class="form-inline" id="report_vote">
			<fieldset>
				<label class="radio">
					<input type="radio" name="vote" value="weaker">
					schwächer
				</label>
				<label class="radio">
					<input type="radio" name="vote" value="stronger">
					stärker
				</label>
				<label class="radio">
					<input type="radio" name="vote" value="neutral">
					neutral
				</label>
			</fieldset>
		</form>
		Dein Name (Optional):<br/>
		<input id="report_name" type="text" placeholder=""><br/><br/>
		Kommentar (Erforderlich)
		<textarea id="report_comment"></textarea>
	</div>
	<label id="report_info" class="alert alert-info hidden"></label>

	<div class="modal-footer">
		<button id="btn_send" class="btn btn-primary">Senden</button>
		<button data-dismiss="modal" class="btn btn-primary">Abbrechen</button>
	</div>
</div>
{{/enableReport}}


</body>

</html>
