<div id="main-container">
<div id="main" role="main">
	<div class="row">
	<div id="sidebarLeft" class="span3"></div>
		<div class="span7 walloftext">
                        <style type="text/css">
                              a.jump, a.jump:hover { text-decoration:none; color:#000000; }	
                              .section { padding-top:40px;}	
                              .example { font-style:italic; margin-left:40px; }	
							  
							 .copyright { font-size: 10px;}
							 .info_box {text-align: left; margin-bottom: 15px;}
							 .box_top_left {margin-top: 4px;}
							 .box_top_right {margin-top: 11px;}
							 .box_to_right {margin-left: 51px;}
							 
							        .pro_country { background: #fcbebe; }	
                        </style>
						<div id="country"></div>						
						<div id="list"></div>					
 
			</div>
		</div>

	</div>
</div>
 
