<div id="main-container">
	<div id="main" role="main">
	
	<div id="sidebarLeft" class="span3"></div>
			<div class="span7 walloftext">
			     <style type="text/css">
							p { text-align: justify; } 
							li { text-align: justify; } 
				</style>
			
					<h2>Method</h2>
		<h4>How can amendments be judged in a neutral and objective way?</h4>

		<p> When we started our analysis of more than 10.000 pages of Council documents the question occurred how to measure countless political decisions in one statistic. There is not a single proper method – so we had to develop one that is as transparent and clear as possible.</p>

		<p> We agreed to evaluate Chapters I to III of the proposed Regulation, as they contain the key rules governing the interaction of the data subject (the “user” or “customer”) and the controller (the company). We graded each current change individually: Does the change lead to stronger or weaker protection of privacy?</p>

		<p> Most of the changes can be categorized quite easily. If the consequences of a change are unclear or if the amendment does not change the level of protection we have marked it as “neutral”.</p>

		<p> In a next step we had to attribute each change to the relevant players in the Council working groups (the EU member states, the EEA members, Switzerland and the European Commission). This is surely the most problematic task, as all protocols and documents are confidential. We have concentrated on individual leaked documents that were relevant for Chapters I to III and contained detailed information on the proposals of individual member states. To ensure representative results, the attribution was done on a “document” and “change” basis and was not based on the activities of individual countries.</p> 

		<p>The calculation of the overall impact of a player we followed a simple formula: We subtracted changes that weakened the protection of privacy from changes that strengthened the protection.  Neutral changes are not included in the score.</p>

		<p> Of course this approach also has some weaknesses (see below).</p>
		<br/>

		<h4>Our rating criteria:</h4>
		<p>To be absolutely transparent we want to be open about our rules and explain them. Everybody should be able to rate the collected amendments by him- or herself.</p>
		<br/>
		<ul>
		<li> Basis of our collection is a complied text of the most recent leaked documents, compared to the Commission proposal from 2012. The Commission proposal is therefore the “base line” of the rating. If you click on the relevant part of the compiled text you can see which document this part of the compiled text was taken from.</li> 
		<li> We reviewed every single amendment, regardless of which its length and influence, because it would not be possible to objectively measure the amount political influence of every amendment.</li>
		<li> The author of every amendment is taken from the official documents. If amendments are supported by other countries, they are treated as joint changes. The same is true if a country is suggesting effectively the same change.</li>
		<li> If countries entered “scrutiny reservations” they were only included if it is obvious why the scrutiny reservation was entered (often it is e.g. unclear if the changes were too far reaching or not broad enough for a particular member state).</li>
		<li> Vague opinions or proposals that are not directly reflected in the compiled text of the Council were not included (e.g. if a member state was expressing general remarks or vague objections/support instead of precise changes).</li>
		<li> Our judgment is based on an general assessment if the amendment will cause the privacy rights of an average user to be strengthened or weakened.</li>
		<li> Scale is the legal situation of an average citizen compared to the draft by the Commission from January 2012.</li>
		<li> The following changes were therefore graded as privacy-weakening amendments:</li>
			<ul>
				<li> Limitations of rules for companies. </li>
				<li> Exceptions from rules for companies. </li>
				<li> New allowances for additional data processing. </li>
				<li> Higher thresholds for duties to apply. </li>
				<li> Ambiguous wording or alternative concepts which are inherently unclear or vague. </li>
				<li> Exemptions from duties for companies, if they have consequences for the rights of data subjects. </li>
				<li> Easier data exchange with non-EU countries. </li>
			</ul>
		<li> The following changes were therefore graded as privacy-enhancing amendments: </li>
			<ul>
				<li> Extension of the rules to cover a greater number of people. </li>
				<li> Deletion of exceptions for companies. </li>
				<li> Deletion of legitimate reasons for data processing. </li>
				<li> Lower threshold for duties of companies. </li>
				<li> Clear wording and alternative concepts with more rights for users. </li>
				<li> Introduction of new rules, duties or procedures for companies, if they have consequences for the rights of data subjects.</li>
				<li> Limitation of data exchange with non-EU countries. </li>
			</ul>
		<li>  Amendments that could not be clearly identified as strengthening or weakening the protection of data subjects were marked as “neutral”.
		</ul>
		<br/>



		<h4>Weaknesses of our method:</h4>
		<p>Of course there are some weaknesses in our method that we want to be frank about:</p>
		<ul>
			<li> There is no unit in which one can measure more of less privacy. We have therefore counted the number of changes. This means that a small change is counted the same way as a major amendment. The only alternative would have been a rating of how much every amendment changes the right to privacy, which cannot be done objectively. But especially when countries have submitted or supported a large amendments this problem should be evened out. </li>
			<li>Not every limitation of the right to privacy is bad, not every additional right is good. As an example: If the trade unions get the right to agree on processing of data with employers, we think that this is a good idea. But this also means that there is another ground on which data can be processed. Therefore these amendments were marked as weakening the right to privacy according to the principles explained above. The same would be true for rather extreme duties of the industry, that one may objectively not support, but that would surely limit the options to use data.</li>
			<li>Only the “successful” changes that made it to the current documents are reviewed. This may mean that certain member states have tried to strengthen or weaken the proposal much further, but this would not be reflected in the statistics, as they have not succeeded in their efforts.</li>
			<li>Many changes are happening by rather general objections or pressure. A number of changes are also proposed in emails or talks that are not reflected in the documents. Such proposals, that are not directly reflected in the current text or not directly traceable are not reflected in the statistic.</li>		
			<li>We only reviewed three Chapters, that seemed the most relevant. There are more than 500 interventions that we could find. As with all statistics, the results would be even more accurate if we would have reviewed more chapters. </li>	
			<li>We reference interventions to member states. Because the negotiations are ongoing since 2012, some member states may have changed their position over time (e.g. when new governments came into power). Whenever there was any conflict of positions, the more recent position was counted.</li>
			<li>Governments of member states are participating in the negotiations with more than one of their members, and therefore not all of the changes may be directly attributed to the person whose image we choose to represent that country. We strive to carefully select the most senior and most involved government member of each country as the face representing the changes. (Thanks to a representative of the belgian government to make this point to us via E-Mail. In a prior version of this site, we erroneously chose Belgiums Minister of Justice as the face for Belgium in the context of this site. We regret this, it has been corrected).
			</li>	
			<li>With more than 10.000 pages of documents there can always be mistakes. One can enter the wrong number or there might be some misunderstanding, given the complex interaction of changes. If someone finds a mistake he/she can always report it. We hope that this allows us to steadily improve and expand the database. </li>
		</ul>
		<br/><br/><br/>
</div>
</div>
</div>
