{{#datapoint}}
<p> {{ id }}</p>

                    <div class="span3 box_left box_top_right">
                        <p>
                            <b class="contra">CONTRA PRIVACY</b>
                        </p>
                        <p>
						{{#pro}}
                        <p>
                            <img src="../assets/img/icons/{{country}}_r_plakette.png">
                            {{name}}:
                            <a target="_blank" href="{{link}}">{{link}}</a>
                        </p>
						{{/pro}}
						{{^pro}}
							no documents
						{{/pro}}
                    </div>

                    <div class="span3 box_top_right box_to_right">
                        <p>
                            <b class="contra">PRO PRIVACY</b>
                        </p>
                        <p>
						{{#contra}}
                        <p>
                            <img src="../assets/img/icons/{{country}}_r_plakette.png">
                            {{name}}:
                            <a target="_blank" href="{{link}}">{{link}}</a>
                        </p>
						{{/contra}}
						{{^contra}}
							no documents
						{{/contra}}
                    </div>					
						
	<!--br>				
Pro:
<ul>
{{#pro}}
	<li>{{country}} <a href="./country/{{country}}">{{name}}</a> {{link}}</li>
{{/pro}}
{{^pro}}
Leider leer
{{/pro}}
</ul>
					

Contra:
<ul>
{{#contra}}
	<li>{{country}} {{link}}</li>
{{/contra}}
{{^contra}}
Leider leer
{{/contra}}
</ul>
{{/datapoint}}

<br-->

