  <script src="assets/js/chart/raphael.js"></script>
  <script src="assets/js/chart/g.pie.js"></script> 
  <script src="assets/js/chart/g.raphael.js"></script> 
  <script src="assets/js/chart/g.bar.js"></script>
  <script src="/governments/assets/js/chart/jquery.lpchart.js"></script> 
  <script src="assets/js/chart/jquery.jvectormap-1.2.2.min.js"></script>
  <script src="assets/js/chart/jquery-jvectormap-europe-merc-en.js"></script> 



<style>
			div.tinypie { min-height: 50px; min-width: 50px; width: 50px; height: 50px; display: block; float: right; margin-right: 17px; margin-top: 16px;}
			.politician_list {margin-left: 5px; margin-top: 28px;}			
			.info_box_head { line-height: 40px; margin-bottom: 0px; margin-top: 0px; text-align:left; background-color: #ccc;}
			.head_red { background-color: #df5858; }
			.head_green { background-color: #51ab51; }

			.text { margin: 15px; }
			.gov_link {font-size:15px;}
			.box_circle { background-color: #ffffff; height:329px;}
		
</style>

                    <div id="main-container">
                        <div id="main" role="main">
                            <div class="row"> 	
							    <div class="span1"><! -- EMPTY --></div>
	                             <div class="span6 info_box left walloftext"> <! -- MAP -->				
                                    <h4 class="background_stronger info_box_head">&nbsp;&nbsp;&nbsp;Countries</h4>
                                    <div class="mep_map vector_map_frontpage">
                                        <div class="lobbyplag vectormap" data-lobbyplag='{{&eumap}}'></div>
                                    </div>
                                </div>
								
								<div class="span4 info_box box_circle"> <! -- KRINGEL -->	
									<h4 class="background_stronger info_box_head">&nbsp;&nbsp;&nbsp;Overview Council</h4>
									   <div class="tinypie pie_start" style="width:150px;height:150px;padding:60px;padding-bottom:10px;padding-top:30px;"> 
                                              <div class="lobbyplag pie" title="Amendments pro privacy: {{ total.pro }}, against privacy: {{ total.contra }}" data-lobbyplag="{&quot;pro&quot;: {{ total.pro }}, &quot;contra&quot;: {{ total.contra }} }"></div>
                                       </div>							              
										&nbsp;&nbsp;{{total.pro}} pro privacy <br />		
										&nbsp;&nbsp;{{total.contra}} against 	
	                             </div>
								
							</div>
							<div class="row"> 	
								 <div class="span1"><! -- EMPTY --></div>
								<div class="span10"> <! -- TEXT -->	
						            <section class="info">
                                        <p><b>LobbyPlag.eu</b> obtained about <a href="http://lobbyplag.eu/governments/documents">11.000 pages</a> of <i>classified</i> EU documents and a number of <i>classified</i> German diplomatic cables on the EU data protection reform. In addition to publishing many of the documents, LobbyPlag.eu also shows which national governments are working on lowering or raising data protection laws in Europe.</p>
                                    </section>
                                </div>
                           </div>
						   	
							
					
							<div class="row"> 	
							<div class="span1"><! -- EMPTY --></div>
							
                             <! -- COUNTRIES -->

                                    <div class="span5 info_box "> 

                                        <div> <! -- COUNTRIES LEFT -->
                                            <h4 class="background_stronger info_box_head head_red">&nbsp;&nbsp;&nbsp;Countries/Politicians AGAINST</h4>
                                            <div>
                                                {{#ranking.bottom}}
                                                <div class="mep_line">
                                                    <div class="mep_image">
                                                        <a href="/governments/list#{{c2}}"><img src="/governments/assets/img/heads/{{c2}}_regierung.png" width="60px" title="Foto by {{credit}}"/></a>
                                                    </div>
                                                    <div style="width: 100%; display: block" >
                                                        <div class="politician_list" style="float: left">	
                                                            <a class="gov_link" href="/governments/list#{{c2}}">{{headname}}, {{name}}</a> <br/>
                                                            <img style=" height:22px; border: 4px" src="/governments/assets/img/flags/80x60/{{lc2}}.png">
                                                            <img style=" height:22px; border: 4px"  src="/governments/assets/img/icons_1/{{c2}}_k_plakette.png">
                                                        </div>
                                                        <a class="mep_name_link" href="/governments/list#{{c2}}">	
                                                            <div class="tinypie"> 
                                                                <div class="lobbyplag pie" title="Amendments pro privacy: {{ changes.m.length }}, against privacy: {{ changes.w.length }}" data-lobbyplag="{&quot;pro&quot;: {{ changes.m.length }}, &quot;contra&quot;: {{ changes.w.length }} }"></div>
                                                            </div>
                                                        </a> 
                                                    </div>
                                                </div>
                                                {{/ranking.bottom}}
                                            </div>
                                        </div>

                                    </div><div class="span5 info_box "> 

                                        <div> <! -- COUNTRIES RIGHT -->
                                            <h4 class="background_stronger info_box_head head_green">&nbsp;&nbsp;&nbsp;Countries/Politicians PRO</h4>
                                            <div>

                                               {{#ranking.top}} 
                                                <div class="mep_line">
                                                    <div class="mep_image">
                                                        <a href="/governments/list#{{c2}}"><img src="/governments/assets/img/heads/{{c2}}_regierung.png" width="60px" title="Foto by {{credit}}"/></a>
                                                    </div>
                                                    <div style="width: 100%; display: block" >
                                                        <div class="politician_list" style="float: left">	
                                                            <a class="gov_link"  href="/governments/list#{{c2}}">{{headname}}, {{name}}</a> <br/>
                                                            <img style=" height:22px; border: 4px" src="/governments/assets/img/flags/80x60/{{lc2}}.png">
                                                            <img style=" height:22px; border: 4px"  src="/governments/assets/img/icons_1/{{c2}}_k_plakette.png">
                                                        </div>
                                                        <a class="mep_name_link" href="/governments/list#{{c2}}">	
                                                            <div class="tinypie"> 
                                                                <div class="lobbyplag pie" title="Amendments pro privacy: {{ changes.m.length }}, against privacy: {{ changes.w.length }}" data-lobbyplag="{&quot;pro&quot;: {{ changes.m.length }}, &quot;contra&quot;: {{ changes.w.length }} }"></div>
                                                            </div>
                                                        </a> 
                                                    </div>
                                                </div>
											{{/ranking.top}} 
                                            </div>
                                        </div>

                                    </div> 
									
                              <! -- COUNTRIES END-->
								
                            </div>


                            <!--div class="row">
                                <div class="span10">
                                </div>
                            </div-->


                        </div><! -- main end -->
                    </div><! -- main-container end -->
					


