<div id="main-container">
<div id="main" role="main">
	<div class="row">
		<div class="span12 walloftext">
				<br/>

				<p>
					LobbyPlag is a project that aims at making the EU reform on data protection more transparent. We want to lift the curtain around this major reform by allowing journalists and average citizens to see who is proposing which amendments without the need to dig through thousands of
					documents.<br/>LobbyPlag is a cooperation of “<a href="http://www.opendatacity.de/">Open Data City</a>” and “<a href="http://europe-v-facebook.org">europe-v-facebook.org</a>”.</p>

				<a href="http://www.europe-v-facebook.org/LP_en.pdf">Press Release (PDF)</a><br>

				<a href="http://www.europe-v-facebook.org/LP.zip">Other Data and Documents (ZIP)</a><br>

				<br/>

				<p>
					<b>Contact Details:</b><br/>
					For questions on the EU data protection reform, political questions and legal questions:<br/>
					Max Schrems (europe-v-facebook.org), media@europe-v-facebook.org and +43 660 1616 327<br/>
					<br/>
					For questions on the platform, the technical analysis and other related questions:<br/>
					Marco Maas (Open Data City), mm@datenfreunde.com oder +49 163 6666 245<br/>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="span12 info_box">
				<h4>Presseinformationen</h4>
			</div>
		</div>
		<div class="row">
			<div class="span12 walloftext">
				<br/>

				<p>LobbyPlag ist ein Projekt, das die EU-Gesetzgebungsverfahren transparenter machen will. Wir wollen den Vorhang um die Datenschutzreform etwas lichten. Journalisten wie auch Bürger sollen mit LobbyPlag einfach nachvollziehen können, wer sich für einen stärkeren und schwächeren
					Datenschutz einsetzt, ohne tausende Dokumente durchforsten zu müssen. <br/>
					LobbyPlag ist eine Kooperation zwischen „<a href="http://www.opendatacity.de/">Open Data City</a>“ und „<a href="http://europe-v-facebook.org">europe-v-facebook.org</a>“.</p>

				<a href="http://www.europe-v-facebook.org/LP_de.pdf">Presseerklärung (PDF)</a><br>

				<a href="http://www.europe-v-facebook.org/LP.zip">Daten und Bilddateien (ZIP)</a><br>
				<br/>

				<p>
					<b>Rückfragen:</b><br/>
					Für Fragen zur Datenschutzreform, politischen Einschätzungen und juristischen Fragen:<br/>
					Max Schrems (europe-v-facebook.org), media@europe-v-facebook.org oder +43 660 1616 327<br/>
					<br/>
					Für Fragen zur Umsetzung, zur Auswertung und technischen Details:<br/>
					Marco Maas (Open Data City), mm@datenfreunde.com oder +49 163 6666 245 <br/>
				</p>
			</div>
		</div>

	</div>
</div>
