<div id="main-container">
	<div id="main" role="main">
	<div class="row">
	    <div id="sidebarLeft" class="span3"></div>
		<div class="span6 walloftext">
		
	<style type="text/css">
	 p { text-align: justify; } 
	 h1 { font-size: 31.5px; }
	.maxremark { background: #e0e000 }	
	.wert-w { background: #fcbebe; }		
	.wert-m { background: #d5f2d5; }		
	.wert-n { background: #e1e1e1; } 
	/* .worse { background: #cc6666; color:#ffffff; }  */
	
	.nation,.nation:hover { text-decoration:none; font-weight:bold;}	
	.pro,.pro:hover { color: #009900; }	
	.contra,.contra:hover { color: #990000; }	
	.topic,.topic:hover { text-decoration:none; color:#000000; cursor:pointer;  padding-left:17px; background: transparent url(../assets/img/glyphicons-halflings.png) no-repeat; display:inline-block; width:0px; height:15px; background-position:-335px -95px; }	

	.line { margin: 3px;}	
	.beige { background-color: #F9F9F9; }
	.remarkid { display: inline-block; font-size: 80%; color: #E0E0E0; float: right; position: relative;}
	.remarkid .detail { position: absolute; top: 10px; display: none; left: -100px }
	.remarkid:hover .detail { display: block; width: 200px; font-size 10px; color: #202020; 
	        padding: 4px; border: 1px solid black; background-color: #ffffff; overflow: auto;
		border-radius: 5px}
	.modal_box{ margin:10px; }
	.close {padding:20px; }
	.modal_box ul {list-style-type:none; }
	.modal_box li {padding-bottom:12px; margin-left: -27px;}
	.topic_modal,.topic_modal:hover{   padding-left:17px; background: transparent url(../assets/img/glyphicons-halflings.png) no-repeat; display:inline-block; width:0px; height:15px; background-position:-335px -95px; }	
	.reg_box {padding:10px;}
	.reg_left {text-align: left;}
	
	.bug {text-align:right; padding-top:40px; padding-bottom:20px;}
    .bug_link,.bug_link:hover {  
          padding-left:17px; 
          background: transparent url(../assets/img/glyphicons-halflings.png) no-repeat; 
          display:inline-block; 
          width:0px; 
          height:15px; 
          background-position:-335px -95px; 
          white-space: nowrap;								
         }	
	 .doc_link,.doc_link:hover {  
	    white-space: nowrap;	 
	 }
	 .popup_bug,.popup_bug:hover {  
	                     border-bottom-right-radius: 4px;
                        border-top-right-radius: 4px;
                        border-bottom-left-radius: 4px;
                        border-left-width: 1px;
                        border-top-left-radius: 4px;
						-moz-border-bottom-colors: none;
                        -moz-border-left-colors: none;
                        -moz-border-right-colors: none;
                        -moz-border-top-colors: none;

                        background-color: #fff;
                        border-color: #ddd;
                        border-image: none;
                        border-style: solid;
                        border-width: 1px;
						cursor:pointer;
                        padding: 2px 4px;
						padding-bottom:1px;
                        text-decoration: none;
                        color: #999999;
                        background: #efefef;
                        white-space: nowrap;	
	}	
	.popup_bug:hover { 
	  background:  #c4c4c4;
	}	

	.linked+div.popover {
			z-Index:9999;
			background-color: #f0f0f0;
			border-color: #990000;
	}
		
	</style>

	
	<!-- modal -->
	<div class="modal fade" id="regmodal" role="dialog" >
       <div class="modal-dialog">
          <div class="modal-content">
                   <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;&nbsp;&nbsp;&nbsp;</button>
					<div id="regmodal_content"></div>
           </div>
       </div>
</div> 
	<div class="info_box reg_box">
		<h2 class="reg_left">Regulation Proposal</h2> 	
		<p>Below you can scroll through the current (secret) version of <strong>Chapters I to III</strong> (most important part) of the new data protection regulation. If you are interested in Recitals and other Chapters you can download a complied version of the whole state of play 
<a href="./assets/pdf_all/Reg_Full.pdf" target="_blank">here (900KB).</a>
		</p>
		<p>The Council is working on a proposal of the Commission. <strike>Strikes show removed text compared to the Commission proposal.</strike> <u>Underlined sections were added by the Council.</u> All changes are marked in <span style="background-color: #fcbebe">red (weaker law)</span>, <span style="background-color: #d5f2d5">green (stronger law)</span> and <span style="background-color: #e1e1e1">grey (neutral, only technical or unclear changes)</span>.</p>
		<p>Bx clicking on the change, you can find out which country was for or against the change and thereby strengthened or weakened data protection laws in Europe. We also marked when changes are likely to be below the current 1995 Directive and linked changes to “major issues” in the current debate, to give you further background information.</p>
	</div>
<br /><br /><br />  
	
{{> regulationtext}}


</div>
<div id="sidebarRight" class="span3"></div>

</div>
					<div class="row">
						<div id="sidebarLeft" class="span3"></div>
							<div class="span5 bug">	
								<a class="bug_link" target="_blank" href="mailto:error@lobbyplag.eu?Subject=Report%20error">Report error</a>      
							</div>		
						</div>  					
                    </div>  

</div>
</div>
