<nav id="subnav" class="navbar navbar-inverse clearfix">
	<ul class="nav pull-right clearfix">
		<li{{#active_overview}} class="active"{{/active_overview}}><a href="/governments" title="">Ranking</a></li>
		<li{{#active_gdpr}} class="active"{{/active_gdpr}}><a href="/governments/gdpr" title="">Proposal</a></li>
		<li{{#active_documents}} class="active"{{/active_documents}}><a href="/governments/documents" title="">Leaks</a></li>
		<li{{#active_topics}} class="active"{{/active_topics}}><a href="/governments/topics" title="">Major Issues</a></li>
		<li{{#active_governments}} class="active"{{/active_governments}}><a href="/governments/list" title="">Governments</a></li>
		<li{{#active_method}} class="active"{{/active_method}}><a href="/governments/method" title="">Method</a></li>
		<li{{#active_about}} class="active"{{/active_about}}><a href="/governments/about" title="">About</a></li>
	</ul>
</nav>
